# Lab 03 - Análise Exploratória de Dados (EDA): Variáveis Numéricas e Categóricas
**Disciplina:** Extração e Preparação de Dados | **Professor:** Luis Aramis

Neste laboratório, vamos aprender a diferenciar e tratar variáveis numéricas e categóricas usando a biblioteca Pandas. Utilizaremos o famoso dataset do **Titanic**.

## 1. Setup
Importe as bibliotecas necessárias.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns # Apenas para carregar o dataset, se necessário

## 2. Carregamento dos Dados
Vamos carregar o dataset do Titanic. O Pandas consegue ler diretamente de uma URL.

In [ ]:
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)
print('Dataset carregado com sucesso!')

## 3. Inspeção Inicial
Use `.head()`, `.info()` para entender a estrutura dos dados.

In [ ]:
# Visualizando as primeiras linhas

In [ ]:
# Verificando tipos e nulos

## 4. Análise de Variáveis Numéricas
Identifique as colunas numéricas (Age, Fare, etc.).
Use `.describe()` para ver estatísticas descritivas.

In [ ]:
# Estatísticas descritivas das numéricas

### Exercício 4.1
Qual é a média de idade (`Age`) dos passageiros? E a mediana?

## 5. Análise de Variáveis Categóricas
Identifique as colunas categóricas (Sex, Embarked, Pclass).
Use `.value_counts()` para ver a frequência de cada categoria.

In [ ]:
# Contagem de passageiros por sexo

In [ ]:
# Contagem de passageiros por classe (Pclass) - note que Pclass é numérico mas age como categoria ordinal

## 6. Conversão de Tipos (Otimização)
Colunas como `Sex` e `Embarked` são lidas como `object` (string). Podemos converter para `category` para economizar memória e melhorar a semântica.

In [ ]:
# Verificando memória antes

In [ ]:
# Convertendo


# Verificando memória depois

## 7. Análise Multivariada Simples (GroupBy)
Vamos cruzar variáveis numéricas e categóricas.
Qual a tarifa média (`Fare`) paga por cada classe (`Pclass`)?

### Exercício 7.1
Qual a taxa de sobrevivência (`Survived` média) por sexo (`Sex`)?

In [ ]:
# Seu código aqui
# Dica: Survived é 0 ou 1. A média de uma coluna binária é a proporção de 1s.

---
## 8. DESAFIO PARA CASA
Utilize o mesmo dataset do Titanic para responder:
1. Quantos nomes únicos existem (`Name`)? Há nomes repetidos?
2. Crie uma nova coluna `FaixaEtaria` usando `pd.cut` na coluna `Age`.
   - 0-12: Criança
   - 12-18: Adolescente
   - 18-60: Adulto
   - 60+: Idoso
3. Conte quantos passageiros há em cada faixa etária.
4. (Opcional) Qual faixa etária teve maior taxa de sobrevivência?

In [ ]:
# Seu código para o desafio aqui

---
## 9. DESAFIO EXTRA: Integração SQL + Pandas
Para consolidar o conhecimento da Aula 03, vamos fazer uma análise misturando SQL e Pandas.

**Cenário:** Você é um analista de dados na Chinook Music Store. A gerência quer entender o perfil de vendas por **Gênero Musical**.

**Atividade:**
1.  **Conexão:** Conecte-se ao banco `chinook.db` (o mesmo da aula passada).
2.  **Extração (SQL):** Escreva uma query que retorne uma tabela contendo: o **Nome do Gênero** (`Genres.Name`), o **Nome da Faixa** (`Tracks.Name`) e o **Preço Unitário** (`Tracks.UnitPrice`).
    -   *Dica:* Você precisará fazer um `JOIN` entre a tabela `Tracks` e a tabela `Genres`.
3.  **Carga:** Carregue esse resultado num DataFrame chamado `df_musicas`.
4.  **Análise (Pandas):**
    -   Qual é a média de preço das músicas de 'Rock' comparada com 'Latin'? (Análise Numérica por Categoria)
    -   Quantas músicas existem em cada gênero no catálogo? (Análise Categórica)
    -   Converta a coluna `Genre` para o tipo `category` e verifique a economia de memória.

In [ ]:
# 1. Conexão com o Banco (Copie o código de setup da Aula 03)

In [ ]:
# 2. Query e Carga para DataFrame

# df_musicas = pd.read_sql...

In [ ]:
# 3. Análise dos Dados
# Seu código Pandas aqui